@{
    if (PostCompany.Utils.Authentication.GetCurrnetUserType() != PostCompany.Utils.UserType.Employee ||
        PostCompany.Utils.Authentication.GetCurrnetUserRole() != PostCompany.Models.EmployeeRole.Manager)
    {
        Response.Redirect("~/Site/Login");
    }
    Layout = "";
}

<h2>Manager</h2>
