@{
    if (PostCompany.Utils.Authentication.GetCurrnetUserType() != PostCompany.Utils.UserType.Employee ||
        PostCompany.Utils.Authentication.GetCurrnetUserRole() != PostCompany.Models.EmployeeRole.Counter)
    {
        Response.Redirect("~/Site/Login");
    }
    Layout = "";}

<h2>Counter</h2>
